# Compiled Object files
*.slo
*.lo
*.o
*.obj
build/

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/litebrowser

.depend
*~

# Eclipse files
.cproject
.settings
.project
.idea
.vscode

.cache/
html/

